body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #F2F4F7;
}

header {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 100;
}

.header_block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 25px 100px;
    background-color: white;
    border-radius: 20px;
}

.header_block h3 {
    display: inline;
    color: #2D66EE;
    margin-left: 20px;
    text-transform: uppercase;
}

.header_block ul {
    list-style-type: none;
    color: #2D66EE;
}

.header_block ol li {
    color: #2D66EE;
}

.header_block ol li a {
    color: #2D66EE;
}

.header_block li {
    display: inline;
    margin-right: 20px;
}

.header_block a {
    text-decoration: none;
}

.header_block img {
    vertical-align: middle;
    height: 25px;
    margin-right: 15px;
}

nav a {
    color: black;
}

main {
    flex: 1;
}

.first_page_block {
    background-color: #F2F4F7;
    display: flex;
    flex-direction: row;
}

.desc_cons_block {
    margin: 75px 100px 125px 100px;
    width: 60%;
}

.desc_block h3 {
    font-size: 48px;
}

.desc_block span {
    color: #2D66EE;
}

.cons_block {
    background-color: white;
    border-radius: 20px;
    margin-top: 50px;
}

.cons_block h4 {
    font-size: 18px;
    padding: 30px 20px;
}

.cons_form_block form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 30px 20px;
}

.cons_form_block label {
    display: block;
    color: gray;
    font-size: 14px;
}

.cons_form_block input[type="text"],
.cons_form_block input[type="tel"] {
    width: 100%;
    border: none;
    border-bottom: 1px solid #98A2B3;
}

.cons_form_block input[type="text"]:focus,
.cons_form_block input[type="tel"]:focus {
    outline: none;
}

.cons_form_block input[type="submit"] {
    background-color: #2D66EE;
    color: white;
    border-radius: 5px;
    padding: 0 25px;
}

.screenshots_block {
    width: 40%;
}

.footer_block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #101828;
    color: white;
    margin: 25px 100px;
    border-radius: 20px;
}

.footer_block h3 {
    text-align: center;
    font-size: 40px;
}

.footer_block p {
    font-size: 13px;
    margin-bottom: 30px;
}

.footer_list_block {
    margin-top: -25px;
}

.footer_list_block ul li {
    display: inline-block;
    margin-right: 150px;
}

.footer_list_el_block p {
    font-size: 16px;
}

.footer_list_el_block span {
    color: #98A2B3;
    font-size: 14px;
}

.footer_list_el_block img {
    vertical-align: middle;
    margin-right: 10px;
    margin-bottom: 5px;
    height: 25px;
}