body {
    background-color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 100;
}

.header_block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 25px 100px;
    background-color: white;
    border-radius: 20px;
}

.header_block h3 {
    display: inline;
    color: blue;
    margin-left: 20px;
}

.header_block ul {
    list-style-type: none;
    color: blue;
}

.header_block ol li {
    color: blue;
}

.header_block ol li a {
    color: blue;
}

.header_block li {
    display: inline;
    margin-right: 20px;
}

.header_block a {
    text-decoration: none;
}

.header_block img {
    vertical-align: middle;
    height: 25px;
    margin-right: 15px;
}

nav a {
    color: black;
}

main {
    flex: 1;
}

.footer_block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #101828;
    color: white;
    margin: 25px 100px;
    border-radius: 20px;
}

.footer_block h3 {
    text-align: center;
    font-size: 40px;
}

.footer_block p {
    font-size: 13px;
    margin-bottom: 30px;
}

.footer_list_block {
    margin-top: -25px;
}

.footer_list_block ul li {
    display: inline-block;
    margin-right: 150px;
}

.footer_list_el_block p {
    font-size: 16px;
}

.footer_list_el_block span {
    color: #98A2B3;
    font-size: 14px;
}

.footer_list_el_block img {
    vertical-align: middle;
    margin-right: 10px;
    margin-bottom: 5px;
    height: 25px;
}