@import "src/assets/styles/fonts.css";

.p_class {
    font-size: 16px;
    line-height: 26px;
    color: #1F3F68;
}

.h1_class {
    font-size: 64px;
    color: #1F3F68;
}

.h2_class {
    font-weight: 500;
    font-size: 44px;
    text-align: center;
}

.h3_class {
    font-size: 36px;
    text-align: center;
}

.h4_class {
    font-size: 20px;
    line-height: 30px;
    color: #1F3F68;
}

.entry_field {
    border: 1px solid #356EAD;
    box-sizing: border-box;
    border-radius: 10px;
    opacity: 0.4;
}

.submit_class {
    /*
    background: #5A98D0;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
    */
    background: linear-gradient(to right, #4975e6, #8e54e9);
    border-radius: 15px;
    border: 1px;
    font-weight: 525;
    font-size: 20px;
    font-family: Inter-Bold;
    padding: 10px 25px;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
}

.form_class {
    background-image: url(form.jpg);
}

.bread {
    background: linear-gradient(#FFFFFF, #418485);
    height: 50px;
    list-style-type: none;
}

.bread li {
    display: inline-block;
    font-size: 20px;
    line-height: 50px;
    padding: 0 20px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    box-shadow: 3px 0 1px #FFFFFF, 5px 0 #000000;
}

.bread li a {
    color: #000000;
    text-decoration: none;
}